In [31]:
import pandas as pd
#import numpy as np
#import tensorflow as tf

In [32]:
# Import datas
# 2144 세탁기
# 2204 노트북
df2144 = pd.read_csv('../data/220117.2144.csv', encoding = 'UTF-8')
df2204 = pd.read_csv('../data/220117.2204.csv', encoding = 'UTF-8')

df2144.describe(), df2144.tail()

(            label
 count  630.000000
 mean     0.855556
 std      0.351819
 min      0.000000
 25%      1.000000
 50%      1.000000
 75%      1.000000
 max      1.000000,
        main   mid        sub                    name      price    ship  \
 2287  가전/TV  생활가전  세탁기+건조기세트  LG전자 오브제컬렉션 워시타워 W16EG  3,175,840  (무료배송)
 2288  가전/TV  생활가전  세탁기+건조기세트  LG전자 오브제컬렉션 워시타워 W16EG  3,175,850  (무료배송)
 2289  가전/TV  생활가전  세탁기+건조기세트  LG전자 오브제컬렉션 워시타워 W16EG  3,177,510  (무료배송)
 2290  가전/TV  생활가전  세탁기+건조기세트  LG전자 오브제컬렉션 워시타워 W16EG  3,188,270  (무료배송)
 2291  가전/TV  생활가전  세탁기+건조기세트  LG전자 오브제컬렉션 워시타워 W16EG  3,203,900  (무료배송)

      platform                                               link  label
 2287  신세계TV쇼핑  http://prod.danawa.com/bridge/loadingBridge.ht...    1.0
 2288      한샘몰  http://prod.danawa.com/bridge/loadingBridge.ht...    1.0
 2289       G9  http://prod.danawa.com/bridge/loadingBridge.ht...    1.0
 2290       G9  http://prod.danawa.com/bridge/loadingBridge.ht...    1.0
 2291      NS몰  http://prod.danawa.com/bridge/loadingBridge.ht...    1.0  )

In [33]:
# NaN의 갯수는 세지 않는구나.
df2144['label'].unique(), df2144['label'].value_counts(), df2144['label'].count()

(array([ 0.,  1., nan]),
 1.0    539
 0.0     91
 Name: label, dtype: int64,
 630)

In [34]:
# axis: NaN 데이터에 대해서 행 or 열을 Drop할지 정하는 변수
# how: any or all 옵션 존재, any의 경우 하나라도 없을 경우 해당 행 또는 열을 드랍
concat_list = []
fst_df = df2144.dropna(axis='index', how='any')
sec_df = df2204.dropna(axis='index', how='any')
fst_df['label'].value_counts()

concat_list.append(fst_df)
concat_list.append(sec_df)

In [35]:
main_df = pd.concat(concat_list, axis=0)
main_df['label'].value_counts()

1.0    745
0.0     95
Name: label, dtype: int64

In [36]:
main_df.describe()

            label
count  840.000000
mean     0.886905
std      0.316898
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000

In [37]:
main_df.head()

,main,mid,sub,name,price,ship,platform,link,label
0,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",(무료배송),옥션,http://prod.danawa.com/bridge/loadingBridge.ht...,0.0
1,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",(무료배송),옥션,http://prod.danawa.com/bridge/loadingBridge.ht...,0.0
2,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,277,440",(무료배송),11번가,http://prod.danawa.com/bridge/loadingBridge.ht...,1.0
3,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,291,960",(무료배송),11번가,http://prod.danawa.com/bridge/loadingBridge.ht...,0.0
4,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,311,700",(무료배송),11번가,http://prod.danawa.com/bridge/loadingBridge.ht...,0.0

In [38]:
main_df = main_df.drop('link', axis=1)
main_df.head()

,main,mid,sub,name,price,ship,platform,label
0,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",(무료배송),옥션,0.0
1,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",(무료배송),옥션,0.0
2,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,277,440",(무료배송),11번가,1.0
3,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,291,960",(무료배송),11번가,0.0
4,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,311,700",(무료배송),11번가,0.0

In [39]:
main_df['ship'].value_counts()

(무료배송)           832
(배송비 3,000원)       3
(배송비 30,000원)      2
(배송비 5,000원)       2
(배송비 2,500원)       1
Name: ship, dtype: int64

In [40]:
# ship price numeric data type으로 변경
test = main_df
#test['ship'].value_counts()
# regex로 replace가 동작했기 때문에 defalut value가 동작하지 않음
# null 값을 변환하는 추가 과정이 필요
test = test['ship'].replace( value='0', regex='[^0-9]' )
test = test.replace('', '0')
# test.value_counts()

change_df = main_df
change_df['ship'] = test
main_df = change_df
main_df['ship'].value_counts()

000000           832
000003000000       3
0000030000000      2
000005000000       2
000002050000       1
Name: ship, dtype: int64

In [41]:
price_series = main_df['price']
main_df.head()

,main,mid,sub,name,price,ship,platform,label
0,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",000000,옥션,0.0
1,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,272,610",000000,옥션,0.0
2,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,277,440",000000,11번가,1.0
3,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,291,960",000000,11번가,0.0
4,가전/TV,생활가전,세탁기+건조기세트,LG전자 트롬 워시타워 W17WTA,"2,311,700",000000,11번가,0.0

In [42]:
price_series = price_series.replace('[\$,]', '', regex=True)
# price_series.head()
main_df['price'] = price_series
main_df.dtypes

main         object
mid          object
sub          object
name         object
price        object
ship         object
platform     object
label       float64
dtype: object

In [43]:
#test = main_df
#tf.keras.utils.to_categorical(test['platform'], int(len(test['platform'].unique())))

In [30]:
# 원했던 one-hot encoding
pd.get_dummies(test['platform'])

,11번가,AK몰,BestPC,CJ온스타일,G9,GS샵,G마켓,K쇼핑,NBSTORE,NS몰,...,퍼스트,피씨로드,피온,하이마트 쇼핑몰,하프클럽,한샘몰,해밀컴,현대Hmall,홈&쇼핑,홈플러스
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0